html{
    font-family: sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit
}
nav{
    width: 100%;
    box-shadow: 0px 0px 10px silver;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}
.container{
    max-width: 1280px;
    margin:auto;
    display: grid;
    padding:0 1rem;
}
.nav-container{
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}
.nav-logo img{
    max-width: 250px;
    margin-top: .15rem;
}

.search-icon, .search-input{
    display: grid;
    font-size: .9rem;
    align-content: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    text-align: right;
}

.search-icon img{
width: 1.2rem;
padding: 0;
margin: 0;
}

.search-icon div{
    display: flex;
}
.search-icon label{
    height: 100%;
    cursor: pointer;
}

.search-icon div{
    cursor: pointer;
}



.search-input{
    margin-left: auto;
    margin-top: auto;
    position: relative;
    display: none;
    width: 350px;
    margin-top: 3px;
    margin-right: 20px;
}
.search-input::after{
    content: '';
    position: absolute;
    background: #fff;
    right: 0;
    top: 0;
    width: 50px; 
    height: 34px;
    margin-top: 2px;
    margin-right: -7px;
}
.search-input .search-text{
    height: 35px;
    padding: 0 .5rem;
    width: 340px;
}   
.search-input .search-img{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 25px;
    height: 40px;
    z-index: 10;
    outline: none;
}
.arrow, .back-arrow{
    display: none;
}

.search{
    height: 200px;
    display: grid;
    font-size: 1.75rem;
    font-weight: bold;
    place-items: center;
}

.search-no{
    height: calc(100vh - 200px);
    display: grid;
    place-items: center;
    text-align: center;
}
.search-no div{
    height: 200px;
}
.search-no p{
    color: rgb(121, 121, 121);
}
.search-no a{
    background: #F68B1E;
    padding: .5rem 1rem;
    color: #fff;
}

.products{
    width: 100%;
    display: grid;
    margin: auto;
    padding: 1rem auto;
    gap: 1.5rem;
    margin: 2rem auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.product{
    box-shadow: 0px 0px 10px silver;
    height: 100%;
    /* background:linear-gradient(to bottom, rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 254),
    rgb(255, 255, 253),
    rgb(252, 252, 252),
    rgb(241, 241, 241),
    rgb(230, 230, 230)); */
    position: relative;
}

.product-details{
    padding: 1rem;
}

.product .name{
    font-weight: 1400 !important;
    font-size: .75rem;
}

.product .name-container{
    height: 100%;
    min-height: 30px;
    padding-bottom: .75rem;
    overflow: hidden;
}

.product .avg-rating{
    padding: .75rem;
    font-size: .75rem;
}
.product .old-price, .product .new-price{
    font-size: 1.2rem;
}
.product .old-price{
    color: rgb(73, 73, 73);
    text-decoration: line-through;
    font-size: .75rem;
}
.product .new-price{
    color: #F68B1E
}

.product .percentage-discount{
    position: absolute;
    top: 0;
    background-color: red;
    right: 0;
    margin-right: -.5rem;
    border-radius: 10px;
    font-size: .5rem;
    color: #fff;
    padding: .2rem;
}

.product img{
    width: 100%;
    /* min-height: 200px; */
    max-height: 200px;
}

.stars{
    display: grid;
    grid-template-columns: 100%;
    align-items: stretch;
}
.stars div{
    display: flex;
}
.stars img{
    width: 15px;
    color: yellow;
    fill: yellow;
}
.star label{
    font-size: .75rem;
}
.star{
    display: grid;
    place-items: center;
}

.pagination-container{
    width: 100%;
    display: grid;
    justify-content: end;
    padding: 1rem 0 3rem 0;
}
.pagination{
    display: block;
    width: 100%;
}
.pagination li{
    list-style: none;
    float: left;
    margin: .2rem;
}

.pagination li a, .pagination li .chevron{
padding: .25rem .5rem;
border: 1px solid rgb(240, 240, 240);
border-radius: 2px;
}
.pagination .active{
    background:#F68B1E;
    padding: .25rem .5rem;
    margin: auto;
    margin-top: -.1rem;
    border-radius: 2px;
}
.pagination .disabled{
    background: rgb(243, 243, 243);
    margin-top: -.075rem;
    padding: .25rem 0rem;
    cursor: not-allowed;
}

#loading{
    background: orange;
    display: grid;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    place-content: center;
    width: 100%;
    z-index: 10000;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: .55rem;
}
#loading img{
    width: 100px;
}
.a-site{
    display: grid;
    place-items: end;
    position: absolute;
    bottom: 0;
    right: 0;
}
.a-site img{
    width: 50px;

}
.best-deals{
    position: relative;
}
.best-deals::after{
    position: absolute;
    content: '';
    width: 80px;
    height: 5px;
    margin-bottom: -1.5rem;
    background-color: orange;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 768px){

    .nav-container{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
.nav-logo img{
    max-width: 240px;
    margin-top: 0rem;
    margin-bottom: -.25rem;
}
.search-input .search-img{
    height: 80%;}
.pagination-container{
    justify-content: center;
}
.pagination{
    padding: 0;
}
.search-input{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
}
.search-input .search-text{
    width: 85% !important;
    height: 100% !important;
    border: none;
    outline: none;
    padding: 0;
    padding-left: 13%;

} 
.search-input .search-img{
    margin-right: 5px;
    margin-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgb(231, 231, 231);
}
.arrow{
    display: grid;
    position: absolute;
    left: 0;
    height: 100%;
    width: 35px;
    place-items: center;
    margin: auto;
    padding-left: 10px;
}.search-input::after {
    margin-right: 0;
}
.search-input{
    margin-top: 0;
}
.back-arrow{
    display: block;
    font-size: 1.75rem;
}
}

@media screen and (max-width: 540px){
    .nav-container{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
.nav-logo img{
    max-width: 300px;
    width: 200px;
    margin-top: 0rem;
    margin-bottom: -.25rem;
}
.search-input .search-img{
    height: 80%;}
.search-input{
    margin-top: 0;
    height: 200px;
}
.search-input .search-text{
    padding: auto;
} 
.search-icon label{
    display: none;
}
}